<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="{$basePath}/include/jquery-3.6.0.js"></script>
	<link href="{$basePath}/css/style.css" rel="stylesheet">
	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>

</head>

<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Navbar</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li n:foreach="$menuItems as $item =>$link" class="nav-item">
							<a  n:href="$link" n:class="$presenter->isLinkCurrent($link) ? 'nav-link active' : 'nav-link'">{$item}</a>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Galerie
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" n:href="Gallery:default">Všechno</a></li>
								<li><hr class="dropdown-divider"></li>
								<li n:foreach="$galleryItems as $item =>$link">
									<a class="dropdown-item" n:href="$link">{$item}</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
		{include content}
	</div>
	{block scripts}
		<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	{/block}
</body>
</html>
