parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no


services:
    - App\Router\RouterFactory::createRouter
    - App\Model\Database\Repository\ImageRepository
    - App\Model\DatabaseWorker
    - Nettrine\Migrations\Subscriber\FixPostgreSQLDefaultSchemaSubscriber
security:
    users:
        admin: secret

extensions:
    dbal: Nettrine\DBAL\DI\DbalExtension
    orm: Nettrine\ORM\DI\OrmExtension
    orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension

dbal:
    connection:
        host: 127.0.0.1
        user: root
        password: admin
        dbname: nette
        driver: pdo_mysql

orm.annotations:
    mapping:
        - App/Model/Database/Entity